.main {
  min-height: 76vh;
}

.user-main {
  min-height: 66vh;
}

.carousel {
  height: 50vh;
}

.carousel img {
  height: 50vh;
  object-fit: cover;
}

a {
  text-decoration: none !important;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.3 s;
}

.icon-link {
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  text-decoration: none;
  color: #fff !important;
}

.icon {
  transition: transform 0.3s ease-in-out;
  font-size: 2rem;
}

.icon-link:hover .icon {
  transform: scale(1.2);
}

.link-label {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.icon-link:hover .link-label {
  opacity: 1;
  visibility: visible;
}

.form-control {
  background-color: #fff !important;
}
.hover-container {
  position: relative;
  display: inline-block;
}

.hover-content {
  display: none;
}

.hover-container:hover .hover-content {
  display: block;
}
