.img-background {
  background: url(https://images.unsplash.com/photo-1618365908648-e71bd5716cba?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
    no-repeat;
  background-size: cover;
  position: relative;
}

.main {
  min-height: 81vh;
}

.carousel {
  height: 50vh;
}

.carousel img {
  height: 50vh;
  object-fit: cover;
}

a {
  text-decoration: none !important;
}

.card:hover {
  transform: scale(1.1);
  transition: all 0.3 s;
}

.icon-link {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: #fff !important;
}

.icon {
  transition: transform 0.3s ease-in-out;
}

.icon-link:hover .icon {
  transform: scale(2);
}

.link-label {
  margin-left: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.icon-link:hover .link-label {
  opacity: 1;
  visibility: visible;
}

.form-control {
  background-color: #fff !important;
}
.hover-container {
  position: relative;
  display: inline-block;
}

.hover-content {
  display: none;
  /* position: absolute;
  top: 100%;
  left: 0;
  z-index: 1; */
}

.hover-container:hover .hover-content {
  display: block;
}
